body {
  background-color: #d81fc9;
}
main {
  background-image: linear-gradient(to bottom right,rgb(230, 141, 222), #d81fc9);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 0;
  padding: 0;
  font-family: 'Short Stack', cursive;
}
.modal {
  position: absolute;
  height: 500px;
  width: 850px;
  background-color: rgb(200, 163, 235);
  z-index: 300;
  border-radius: 10px;
}
.modal p, h1 {
  padding: 40px 40px 20px 40px;
  text-align: center;
}
.modal button {
  border: none;
  float: right;
  height: 40px;
  width: 60px;
  border-radius: 10px;
}
.blurredBackground {
  position: absolute;
  background-color: rgba(87, 86, 86, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
h3 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  height: 400px;
  width: 850px;
  border-radius: 20px;
  margin: 2vh 0 10vh 0;
  box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}
.player1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(200, 163, 235);
  height: 100%;
  width:50%;
  border-radius: 20px 0 0 20px;
  transition: all 2s ease-out;
}
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(137, 46, 221);
  height: 100%;
  width: 50%;
  border-radius: 0 20px 20px 0;
  transition: all 2s ease-out;
}
.newGame, .roll, .hold{
  position: absolute;
  border-radius: 10px;
  background-color: #ffffffab;
}
.newGame {
  top: 7%;
  width: 100px;
  left: calc(50% - 50px);
  z-index: 100;
}
.roll {
  top: 70%;
  width: 150px;
  left: calc(50% - 75px);
}
.hold {
  top: 80%;
  width: 150px;
  left: calc(50% - 75px);
}
.player1CurrentScore, .player2CurrentScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d81fc9;
  color: white;
  height: 100px;
  width: 40%;
  border-radius: 10px;
}

.dice {
  position: absolute;
  display: flex;
  height: 400px;
  width: 850px;
  align-items: center;
  justify-content: center;
}
.oneDot, .twoDot, .threeDot, .fourDot, .fiveDot, .sixDot {
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px, -5px -5px 5px;
  margin: 20px;
}
.oneDot p, .twoDot p, .threeDot p, .fourDot p, .fiveDot p, .sixDot p {
background-color: red;
height: 20px;
width: 20px;
border-radius: 50%;
}
.oneDot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoDot {
  position: relative;
}
.twoDot #twoOne {
  position: absolute;
  left: 10px;
}
.twoDot #twoTwo {
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.threeDot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.threeDot #threeOne {
  position: absolute;
  left: 10px;
  top: -5px;
}
.threeDot #threeThree {
  position: absolute;
  right: 10px;
  bottom: -5px;
}
.fourDot {
  display: flex;
  flex-wrap: wrap;
}
.fourDot p {
 margin: 15px 0 0 20px;
}
.fiveDot {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.fiveDot p {
  margin: 15px 0 0 20px;
}
.fiveDot #fiveFive {
  position: absolute;
  top: 25%;
  left: 20%;
}
.sixDot {
  display: flex;
  flex-wrap: wrap;
}
.sixDot p {
 margin: 8px 0 0 20px;
}
.youRolledDoubles {
  text-align: center;
  padding: 20px 10px 20px 25px;
}
.youWin {
  font-size: 36px;
  color: white;
  text-shadow: 
  0px 0px 5px gold,
  5px 5px 5px purple;
}
.hidden {
  display: none;
}
.active{
  color: white;
  text-shadow: 
  0px 0px 5px gold,
  5px 5px 5px purple;
  transform: scale(2);
} 
.footerContainer {
  display: flex;
  list-style: none;
}
.footerContainer li {
  padding: 0 40px 0 40px;
}
.footerContainer li a {
  text-decoration: none;
  color: black;
}
.footerContainer li a:hover {
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
.instructions:hover {
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  cursor: pointer;
}