body {
  background-image: linear-gradient(to bottom right,rgb(230, 141, 222), #d81fc9);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  height: 400px;
  width: 850px;
  border-radius: 20px;
  margin: 10vh 0 10vh 0;
  box-shadow: 5px 5px 10px black, -5px -5px 10px black;
  background-color: green;
}
.player1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(201, 165, 235);
  height: 100%;
  width:50%;
  border-radius: 20px 0 0 20px;
}
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(137, 46, 221);
  height: 100%;
  width: 50%;
  border-radius: 0 20px 20px 0;
}
.newGame, .roll1, .roll2, .hold1, .hold2 {
  position: absolute;
  border-radius: 10px;
  background-color: #ffffffab;
  /* opacity: .50; */
}
.newGame {
  top: 7%;
  width: 100px;
  left: calc(50% - 50px);
}
.roll1, .roll2 {
  top: 70%;
  width: 150px;
  left: calc(50% - 75px);
}
.hold1, .hold2 {
  top: 80%;
  width: 150px;
  left: calc(50% - 75px);
}
.player1CurrentScore, .player2CurrentScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d81fc9;
  color: white;
  height: 100px;
  width: 40%;
  border-radius: 10px;
}

.dice {
  position: absolute;
  display: flex;
  top: 25%;
  left: 33.3333%;

}
.oneDot, .twoDot, .threeDot, .fourDot, .fiveDot, .sixDot {
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px, -5px -5px 5px;
  margin: 20px;
}
.oneDot p, .twoDot p, .threeDot p, .fourDot p, .fiveDot p, .sixDot p {
background-color: red;
height: 20px;
width: 20px;
border-radius: 50%;
}
.oneDot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoDot {
  position: relative;
}
.twoDot #twoOne {
  position: absolute;
  left: 10px;
}
.twoDot #twoTwo {
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.threeDot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.threeDot #threeOne {
  position: absolute;
  left: 10px;
  top: -5px;
}
.threeDot #threeThree {
  position: absolute;
  right: 10px;
  bottom: -5px;
}
.fourDot {
  display: flex;
  flex-wrap: wrap;
}
.fourDot p {
 margin: 15px 0 0 20px;
}
.fiveDot {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.fiveDot p {
  margin: 15px 0 0 20px;
}
.fiveDot #fiveFive {
  position: absolute;
  top: 25%;
  left: 20%;
}
.sixDot {
  display: flex;
  flex-wrap: wrap;
}
.sixDot p {
 margin: 8px 0 0 20px;
}
.hidden {
  display: none;
} 
.notActive {
  display: none;
}